PyCity Schools Analysis:

In [153]:
# Importing the Pandas Library and Pathlib.

import pandas as pd
from pathlib import Path

# Creating the path to the csv file.

school_data_to_load = Path("C:/Users/Student/daprojects/challenge4/pandas-challenge/PyCitySchools/Resources/schools_complete.csv")
student_data_to_load = Path("C:/Users/Student/daprojects/challenge4/pandas-challenge/PyCitySchools/Resources/students_complete.csv")

# Reading in the School and Student Data via CSV fiel and creating Pandas DataFrames.

school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Merging both datasets into one and displaying the first 5 rows/columns of data.

school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

District Summary:

In [154]:
# Calculating the number of different schools by count.
# Reference: https://practicaldatascience.co.uk/data-science/how-to-identify-and-count-unique-values-in-pandas#:~:text=To%20count%20the%20number%20of,the%20number%20of%20unique%20values

df = school_data_complete
df2 = school_data
school_count = df["school_name"].nunique()
school_count

# school_count = len(df["school_name"].unique())
# school_count

15

In [155]:
# Calculating the total number of students

student_count = df["student_name"].count()
student_count

39170

In [156]:
# The total school budget.
# student count needs to be 15.... the inplace alters student count, need to stop that

df2 = df
df2.drop_duplicates(subset=["budget"], inplace=True)
total_budget = df2["budget"].sum()
total_budget

# df.drop_duplicates(subset=["budget"], inplace=True)

24649428

In [50]:
# The average math score of students.
average_math_score = df["math_score"].mean()
average_math_score

78.98537145774827

In [51]:
# The average reading score of students.
average_reading_score = df["reading_score"].mean()
average_reading_score

81.87784018381414

In [88]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)!! Change comment
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

74.9808526933878

In [91]:
# Calculate the percentage of students who passed reading (hint: look at how the math percentage was calculated)  

passing_reading_count = school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100
passing_reading_percentage

85.80546336482001

In [92]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

65.17232575950983

In [109]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
# district_summary = 

# Formatting
# district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
# district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame
# district_summary

In [157]:
district_summary = {
    "Total Schools": [school_count],
    "Total Students": [student_count],
    "Total Budget": [total_budget],
    "Average Math Score": [average_math_score],
    "Average Reading Score": [average_reading_score],
}

pd.DataFrame(district_summary)

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score
0,15,39170,24649428,78.985371,81.87784